<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* popular languages that Data Scientists
* commonly used libraries used by Data Scientists
* examples of evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:
* Python
* R
* Scala
* JavaScript

Some of the commonly used libraries used by Data Scientists include:
* Numpy
* Pandas
* Matplotlib
* SciPy

| Data Science Tools | 
|:---------|
|  Hadoop   | 
|  Saprk   |  
|  Jupiter Notebook   |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
tm = 200
hr = tm//60
tm %= 60
print ("200 in hrs is",hr,"hrs and",tm, "mins")

200 in hrs is 3 hrs and 20 mins

<h2>Author</h2>
Chirag Patel